.repository-filter {
  min-height: 21.875rem;
  padding: 2.5rem 1.25px;
  text-align: center;
}

.repository-filter h2 {
  margin: 0 0 1.25rem;
}

.repository-filter__list {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
}

.repository-filter__list li {
  margin-top: 0.625rem;
}
